@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --LINK-UNDERLINE-COLOR: #625df5;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_link::after {
  position: absolute;
  content: "";
  bottom: -3px;
  height: 3px;
  left: 0;
  background-color: var(--LINK-UNDERLINE-COLOR);
  width: 100%;
  transition: all 0.5s linear;
  transform: scaleX(0);
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.background {
    background: black url(../public/background.png) no-repeat center fixed !important;
}

.paytone{
    font-family: "Paytone One", sans-serif !important;
}

.mulish {
  font-family: "Mulish", sans-serif !important;
}

.poppins {
  font-family: "Poppins", system-ui !important;
}


.navbar {
  background-image: url("./../public/background.png") !important;
  background-attachment: fixed;
  background: linear-gradient(90deg,rgba(98,93,245,.1) .08%,rgba(98,93,245,.03) 16.53%,rgba(98,93,245,.03) 49.06%,rgba(98,93,245,.03) 83.21%,rgba(98,93,245,.1) 99.99%) !important;
  -webkit-backdrop-filter: blur(19.596906662px) !important;
  backdrop-filter: blur(19.596906662px) !important;
  position: fixed !important;
}


.colorfull_text{
    background: linear-gradient(90deg,#f65c54 36.49%,#ab57a5 51.09%,#5c52fb 66.3%);
    background-clip: text;
    font-weight: 400;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading_underline{
  width: fit-content;
}

.heading_underline::after{
  position: absolute;
  content: "";
  height: 10px;
  width: 50%;
  border-radius: 10px;
  background-color: var(--LINK-UNDERLINE-COLOR);
  bottom: 2px;
  z-index: -1;
  left: 0;
}

.card{
  border-radius: 18px !important;
  border: 1px solid hsla(0,0%,100%,.12) !important;
  background: hsla(0,0%,100%,.06) !important;
  padding: 10px !important;
  margin: 0 0 30px !important;
  max-width: 95% !important;
  transition: transform 0.5s linear !important;
}

.card:hover{
  transform: translateY(-15px);
}

.category_card{
  width: 100% !important;
  background: hsla(0,0%,100%,.059) !important;
  height: 188px !important;
  border-radius: 18px !important;
  position: relative !important;
  overflow: hidden !important;
  cursor: pointer !important;
}

